{% extends 'reagents/base.html' %}

{% block body %}
    <div class="form-group">
      <div class='input-group date' id='datetimepicker1'>
        {{ form.date }}
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <div class = "container" id="main_container">
        <h2>List of entries</h2>

        <h1>Solids</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Reagent</th>
                    <th>Formula</th>
                    <th>Quantity (mg)</th>
                </tr>
            </thead>
            <tbody>
            {% for entry in object_list %}
                <tr>
                    <td>{{ entry.date }} </td>
                    <td>{{ entry.reagent.name }} </td>
                    <td>{{ entry.reagent.formula }} </td>
                    <td>{{ entry.quantity }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
    </div>
{% endblock %}
